version: "3"

services:

  nginx:
    restart: always
    image: nginx:latest
    expose:
      - 8080
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./project/static:/project/static
      - ./project/media:/project/media
      - ./project/logs:/project/logs
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
      - ./config/nginx/conf_ssl.d:/etc/nginx/conf.d

    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

    depends_on:
      - web

    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "3m"


  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 5d & wait $${!}; done;'"



  web:
    container_name: django_template
    restart: always

    build:
      context: ./project/
      dockerfile: Dockerfile

    depends_on:
      - postgres

    ports:
      - 8000:8000

    volumes:
      - ./project:/project

    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "3m"

    command: bash -c "sleep 5 && python manage.py makemigrations --noinput && python manage.py migrate --noinput && gunicorn -c gunicorn.conf.py project.wsgi"



  postgres:
    image: postgres:12.3
    restart: always
    ports:
      - 5432:5432
    volumes:
      - ./dockerfiles/pgdata:/var/lib/postgresql/data/pgdata
    env_file: ./project/.env








